@charset "utf-8";
html, body { color:#333; font-size:12px; font-family:Î¢ÈíÑÅºÚ;background:#fdf7c5;}
body, form, p, ul, ol, h1,h2,h3,h4,h5,h6 { margin:0; padding:0; color:#000; }
ul, ol { list-style:none; }
a{text-decoration: none;}
img { border:none; vertical-align:middle; }
.fl { float:left; }
.fr { float:right; }
.cl { clear:both; line-height:0px; height:0;font-size:1px; overflow:hidden;}