/* global */
html,body,ul,h1,h2,h3,p,input,img,figure{margin: 0;padding: 0;}
ul,ol{list-style: none;}
html, body{width: 100%;height: 100%;overflow: hidden;-webkit-user-select: none;}
body{/*background:-webkit-linear-gradient(#c5d9f6,#fff 50%);background:linear-gradient(#c5d9f6,#fff 50%);*/background:#fdf7c5;font:12px/21px \5FAE\8F6F\96C5\9ED1;color: #fff;}
a, img{outline: 0 none;}

[class*="icon-"]{display: inline-block;width: 45px;height: 45px;overflow: hidden;line-height: 200px;background: url(../images/icon.png) no-repeat;-webkit-background-size: 250px 250px;background-size: 250px 250px;vertical-align: middle;}
.icon-logo{width: 70px;background-position: 8px 5px;}
.icon-game{width: 30px;height: 15px;background-position: -50px -100px;}
.icon-camra-gray{width: 25px;height: 16px;background-position: -100px -100px;}
.icon-play{width: 30px;height: 35px;background-position: -200px -100px;}
.icon-left{width: 13px;height: 21px;background-position: -100px -2px;}
.icon-right{width: 13px;height: 21px;background-position: -150px -2px;}
.icon-scale{width: 30px;height: 30px;background-position: -139px -141px;}
.icon-rotate{width: 30px;height: 30px;background-position: -191px -141px;}
.icon-down{width: 30px;height: 20px;background-position: -150px -100px;}


/* layout */
.pages{width: 200%;height: 100%;overflow: hidden;zoom:1;}
.pages .page{float: left;width:50%;height: 100%; text-align:center;}
.pages .p1{height: 300%;}
.pages .p1 .sub-page{width: 100%;height: 33.34%;-webkit-box-sizing: border-box;/*padding-top: 50px;*/}


/* moudle */
.list-game li{float: left;text-align: center;}
.list-game a:link, .list-game  a:visited, .list-game  a:hover, .list-game a:active{display: inline-block;width: 212px;border: 1px solid #ddd;line-height: 30px;border-radius: 3px;color: #fff;text-decoration: none;}
.list-game span{display: block;background-color: #526fc3;}
.list-game li:nth-child(1) span{background-color: #353535;}
.list-game li:nth-child(2) span{background-color: #1d97ff;}
.list-game li:nth-child(3) span{background-color: #5b47c0;}
.list-game li:nth-child(4) span{background-color: #526fc3;}
.list-game li:nth-child(5) span{background-color: #4cb618;}
.list-game img{display: block;}
.list-game .locked{-webkit-filter:grayscale(1);}

.p1{position: relative;}
.p1 .content{height: 100%;}
.p1 nav{position: absolute;left: 0;top: 0;width: 100%;height: 50px;z-index: 2;background-color: #fff;}
.p1 nav ul{display:-webkit-box;display: box;}
.p1 nav li{-webkit-box-flex:1;box-flex:1;text-align: center;line-height: 50px;font-size:14px;color: #666;-webkit-transition:.5s opacity;}
.p1 nav span{margin-top: -2px;margin-right: 3px;}
.p1 nav li.current{color: #2aa700;}
.p1 nav li.current .icon-game{background-position: 0 -150px;}
.p1 nav li.current .icon-camra-gray{background-position:-50px -150px;}


.p1 .arrow{-webkit-animation: move-down 0.8s infinite;}
.p1 .sp1{position: relative;}
.p1 .sp1 .pos{position: absolute;left: 0;top: 0;}
.p1 .sp1 .pos1{left: 50%;top: 50%;width: 85px;height: 85px;margin-left: -42px;margin-top: -42px;border-radius: 50px; background-color: rgba(42, 167, 0, 0.8);}
.p1 .sp1 .pos1 .icon-play{margin: 25px 0 0 33px}
.p1 .sp1 .arrow{position: absolute;bottom: 20px;left: 50%;margin-left: -15px;}

.p1 .sp2{position: relative;}
.p1 .sp2 .list-game{position: absolute;left: 0;top: 50%;width: 1000%;height: 280px;margin-left: 13%;margin-top: -140px;}
.p1 .sp2 .list-game li{float: left;width: 7.4%;height: 100%;}
.p1 .sp2 .list-game-trigger{position: absolute;left: 0;bottom: 0;width: 100%;border: 1px solid #dad9d9;color: #e3e3e3;padding: 10px;overflow: hidden;-webkit-box-sizing: border-box;box-sizing: border-box;text-align: center;}
.p1 .sp2 .list-game-trigger a{display: inline-block;margin:5px 0;padding:0 1px;text-align: center;line-height: 16px;}
.p1 .sp2 .list-game-trigger a:nth-child(5), .p1 .sp2 .list-game-trigger a:nth-child(10){border-right: 0 none}
.p1 .sp2 .list-game-trigger a, .p1 .sp2 .list-game-trigger a:visited{color: #999;text-decoration: none;}
.p1 .sp2 .list-game-trigger .current, .p1 .sp2 .list-game-trigger .current:visited{color: #2aa700;}


.p1 .sp3{position: relative;background: url(../images/pic2.jpg) no-repeat center 0px;-webkit-background-size: 100% auto;background-size:100% auto;}
/*
.p1 .sp3 .real-btn {position: absolute;left: 75%;top: 460px;margin-left: -140px;width: 119px;height: 33px;opacity: 0;}
.p1 .sp3 .btn-take-photo{position: absolute;left: 75%;top: 460px; margin-left: -140px; background: url(../images/btn6.png) no-repeat; width: 119px; height:33px; -webkit-background-size: 119px 33px;background-size: 119px 33px; pointer-events:none;}
*/
.p1 .sp3 .upgrate_btn{position: relative; width: 251px; margin: 0px auto;  }
.p1 .sp3 .upgrate_btn .real-btn {position: absolute; top: 320px; left: 0px; width: 251px;height: 42px;opacity: 0;}
.p1 .sp3 .upgrate_btn .btn-take-photo{position: absolute;top: 320px; left: 0px; background: url(../images/btn_06.jpg) no-repeat; width: 251px; height:42px; -webkit-background-size: 251px 42px;background-size: 251px 42px; pointer-events:none; border:0px;}
.p1 .sp3 .hdgz{position:absolute; top:10px; right:10px;}
.p1 .sp3 .hdgz a{ text-decoration:none;  color:#e85207; font-weight: bold;}

.p1 .sp3 .pos1{position: absolute;left: 50%;top: 146px;margin-left: -133px;font-size: 12px;color: #000;}
.p1 .sp3 .pos1 .em{color: #2aa700}
.p1 .sp3 .arrow{position: absolute;bottom: 20px;left: 50%;margin-left: -15px;}



.list-role li{float: left;width: 80px;color: #000;text-align: center;line-height: 24px;}
.list-role .thumbli{width: 60px;height: 80px;border:1px solid #e5e5e5;margin:0 auto; overflow: hidden;}
.list-role .thumbli .thumb{width: 50px;height: 50px;margin:5px auto; overflow: hidden;}
.list-role .thumbli .thumb img{width: 50px; height: 50px;}
.list-role .current{position: relative;}
.list-role .current::after{content: ' ';position: absolute;left: 50px;top: 41px;width: 25px;height: 25px;background: url(../images/icon.png) no-repeat -100px -150px;-webkit-background-size: 250px 250px;background-size: 250px 250px;}

.p2{background-color: #fff;}
.p2 .content{position: relative;width: 100%;height: 33.3%;overflow: hidden;}
.p2 nav{width: 100%;height: 50px;border-bottom: 1px solid #e8e8e8;color: #666;font-size: 14px;}
.p2 nav ul{display:-webkit-box;display: box;}
.p2 nav .icon-left, .p2 nav .icon-right{margin: 0 5px;}
.p2 nav h2{color: #2aa700;font-size: 14px;}
.p2 nav li{-webkit-box-flex:1;box-flex:1;text-align: center;line-height: 50px;-webkit-transition:.5s opacity;}

.p2 .editor{position: relative;width: 320px;height: 300px; margin:0px auto; overflow: hidden;}
.p2 .editor .role{position: absolute;left: 50px;top: 20px;display: none;z-index: 2;}
.p2 .editor .icon-scale{display: none;}
.p2 .editor .snapshot{position: absolute;left: 10px;top: 10px;z-index: 1;}
.p2 .editor .img-wrap.enanled{outline: 2px solid #fff;}
.p2 .editor .img-wrap.enanled .icon-scale{display: block;position: absolute;right: -13px;top: -13px;width: 30px;height: 30px;-webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.3);box-shadow:1px 1px 4px rgba(0,0,0,0.3);border-radius: 15px; background-color: #e3e3e3;}

.p2 .editor .img-wrap{transform-origin:right top;-webkit-transform-origin:right top;}

.p2 .tools{overflow: hidden;position: absolute;left: 0;top: 300px;height: 90px;width: 100%;background-color: #fff;}
.p2 .tools .list-role{width: 1000px;}
.p2 .hint{display: none;position: absolute;left: 0;top: 0;z-index: 2;width: 100%;height: 100%;background-color: rgba(0,0,0,0.8);color: #fff;text-align: center;line-height: 50px;}

@-webkit-keyframes move-down {
	50% { -webkit-transform: translate(0, 10px)}
}

.video-wrap{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.video-wrap .video-box{position: absolute;left: 50%;top: 50%;width: 320px;height: 250px;margin-left: -160px;margin-top: -125px;}
.tvp_container {background-color: transparent !important;}
.tvp_video{background-color: transparent !important;}
.tvp_container .tvp_overlay_play{width: 85px;height: 85px;margin-left: -40px;border-radius: 50px;-webkit-transform: scale(1) !important;background-color: rgba(42, 167, 0, 0.8);}
.tvp_container .tvp_button_play{margin-top: 21px;margin-left: 10px;}
.video-wrap .tvp_shadow{pointer-events:none;}
.video-wrap .btn-close{display: none;position: absolute;left: 50%;top: 50%;margin-top: -151px;margin-left: 110px;width: 50px;height: 25px;line-height: 25px;text-align: center;background-color:  rgba(255,255,255, 0.5);border-top-left-radius: 5px; border-top-right-radius: 5px; color: #fff;}
.playing{background-color: rgba(0,0,0,0.8);}
.playing .btn-close{display: block;}



@media screen and (orientation:landscape) {
	.p1 .sp3{background-position: center -10px;}
	.p1 .sp3 .pos1{top: 86px;}
	.p1 .sp3 .btn-take-photo{top: 215px;}
	.p1 .sp3 .real-btn{top: 210px;}
	.p1 .sp2 .list-game li{-webkit-transform: scale(0.5, 0.5);}
}

#mcover {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
}

#mcover img {
    width: 640px;
    height: 480px;
    z-index: 999;
}
